<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047131711807-qdj3jr7s9346p6cfn1kf0quujv32kmep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047131711807-qdj3jr7s9346p6cfn1kf0quujv32kmep</string>
	<key>API_KEY</key>
	<string>AIzaSyB99RwrC2jVad1UDfFzsSOaHWH7xMxfjfc</string>
	<key>GCM_SENDER_ID</key>
	<string>1047131711807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatting-app-flutter-d607f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-app-flutter-d607f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047131711807:ios:dd4a928549e809329b0b8a</string>
</dict>
</plist>